@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/arvo.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/arvo.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

p {
  font-size: 18px;
  line-height: 24px;
}

ul {
  padding-left: 24px;
}

li {
  font-size: 18px;
  line-height: 24px;
}

blockquote {
  border-left: 3px solid var(--color-wra-grey);
  font-size: 18px;
  line-height: 24px;
  padding: 5px 20px 5px 27px;
}

/*Links*/
a {
  color: var(--color-wra-blue);
  font-weight: bold;
}

a:hover {
  color: var(--color-wra-blue);
  text-decoration: none;
}

a:focus-visible {
  color: var(--color-wra-black);
  background-color: var(--color-wra-yellow);
  box-shadow:
    0 -4px var(--color-wra-yellow),
    0 2px var(--color-wra-black);
  outline: 2px solid transparent;
  text-decoration: none;
  -webkit-box-shadow:
    0 -4px var(--color-wra-yellow),
    0 2px var(--color-wra-black);
}
